@import "variables";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: ui-monospace, monospace;
  font-size: 12pt;
  line-height: 1.54;
  background-color: var(--background);
  color: var(--color);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;

  @media print {
    color: #000;
    line-height: 1.2;
    font-size: 10pt;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;

  &:not(:first-child) {
    margin-top: 40px;
  }

  .zola-anchor {
    font-size: 1.5rem;
    visibility: hidden;
    margin-left: 0.5rem;
    vertical-align: 1%;
    text-decoration: none;
    border-bottom-color: transparent;
    cursor: pointer;

    @media (hover: none){
      visibility: visible;
    }
  }

  &:hover {
    .zola-anchor {
      visibility: visible;
    }
  }
}

h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.2rem;
}

h4, h5, h6 {
  font-size: 1.15rem;
}


a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

p {
  margin-bottom: 20px;
}

code {
  font-family: ui-monospace, monospace;
  background: var(--accent-alpha-20);
  color: var(--accent);
  padding: 1px 6px;
  margin: 0 2px;
  font-size: .95rem;
}

// code[data-lang]::before {
//   content: attr(data-lang);
//   text-align: right;
//   position: absolute;
//   top: 0;
// }

pre {
  font-family: ui-monospace, monospace;
  padding: 20px 10px;
  font-size: .95rem;
  overflow: auto;
  border-top: 1px solid rgba(255, 255, 255, .1);
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  position: relative;

  + pre {
    border-top: 0;
    margin-top: -40px;
  }

  @media (max-width: $phone-max-width) {
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  &[data-lang]::before {
    content: attr(data-lang);
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: .2em .5em;
    font-weight: bold;
    font-size: .9rem;
    border-radius: 0 0 0 6px;
    background-color: var(--accent-alpha-20);
  }

  code {
    background: none !important;
    margin: 0;
    padding: 0;
    font-size: inherit;
    border: none;
  }
}

blockquote {
  border-top: 1px solid var(--accent);
  border-bottom: 1px solid var(--accent);
  margin: 40px 0;
  padding: 25px;

  @media (max-width: $phone-max-width) {
    padding-right: 0;
  }

  &:before {
    content: 'â€';
    font-family: Georgia, serif;
    font-size: 3.875rem;
    position: absolute;
    left: -40px;
    top: -20px;
  }

  p:first-of-type {
    margin-top: 0;
  }

  p:last-of-type {
    margin-bottom: 0;
  }

  p {
    position: relative;
  }

  p:before {
    content: '>';
    display: block;
    position: absolute;
    left: -25px;
    color: var(--accent);
  }
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  margin: 40px 0;
}

table, th, td {
  border: 1px dashed var(--accent);
  padding: 10px;
}

th {
  color: var(--accent);
}

ul, ol {
  margin-left: 30px;
  padding: 0;

  li {
    padding-left: 1em;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  @media (max-width: $phone-max-width) {
    margin-left: 20px;
  }

  ul, ol {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  padding: 40px;
  max-width: 864px;
  min-height: 100vh;
  border-right: 1px solid rgba(255, 255, 255, 0.1);

  &.full,
  &.center {
    border: none;
    margin: 0 auto;
  }

  &.full {
    max-width: 100%;
  }

  @media (max-width: $phone-max-width) {
    padding: 20px;
  }
}

.content {
  display: flex;
  flex-direction: column;
}

hr {
  width: 100%;
  border: none;
  background: var(--border-color);
  height: 1px;
}
