:root {
  color: #000;
  line-height: 1.2;
  font-size: 10pt !important;
}

body {
  background-color: white;
}

.container {
  padding-top: 0;
  padding-bottom: 0;
}

code {
  background: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  page-break-after: avoid;

  &:not(:first-child) {
    margin-top: 1.2em;
  }
}

ul {
  list-style: square !important;
}

section {
  page-break-inside: avoid;
}

.post {
  margin-bottom: 0;
}
