@import 'variables';
// @import 'buttons';
@import 'header';
@import 'logo';
@import 'main';
@import 'post';
@import 'pagination';
@import 'footer';

:root {
  --phoneWidth: (max-width: #{$phone-max-width + 1px});
  --tabletWidth: (max-width: #{$tablet-max-width + 1px});
}

