{% extends "zerm/templates/index.html" %}

{% block general_meta %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="description" content="{{ config.description }}"/>
    <script async defer data-domain="hauleth.dev" src="https://plausible.io/js/plausible.js"></script>
{% endblock general_meta %}

{% block header %}
<header class="header">
    <div class="header__inner">
        <div class="header__logo">
            {{ logo::logo() }}
        </div>
        <div class="menu-trigger">menu</div>
    </div>
    <nav class="menu">
        <ul class="menu__inner">
            {%- for menu_item in config.extra.main_menu -%}
                <li>
                  <a href="{% if menu_item.url is matching("^https?://") %}{{ menu_item.url }}{% else %}{{ get_url(path=menu_item.url) }}{% endif %}">{{ menu_item.name }}</a>
                </li>
            {%- endfor-%}
        </ul>
    </nav>
</header>
{% endblock %}
