{%- extends "index.html" -%}

{%- import "macros/toc.html" as toc -%}

{%- block title -%}
  <title>{{ page.title }} - {{  config.extra.author }}</title>
{%- endblock title -%}

{%- block main -%}
  <article class="post h-entry">
    <h1 class="post-title p-name">
      <a id="top" href="{{ page.permalink }}">{{ page.title }}</a>
    </h1>
    {{ posts::meta(page=page, author=config.extra.show_author) }}
    {%- if page.toc | length >= 5 -%}
    <div class="post-toc">
      <label for="toc-toggle">Table of content</label>
      <input type="checkbox" id="toc-toggle" hidden />
      <div class="toggleable">
        {{ toc::toc(headers=page.toc) }}
      </div>
    </div>
    {%- endif -%}
    <div class="post-content e-content">
      {{ page.content | safe }}
      <div class="halmos">&#x220e;</div>
    </div>
    {%- if config.extra.for_hire -%}
    <div class="for-hire">
      <p>Author of this post is currently open for hire (<a href="/cv">CV</a>).<p>
      <p>You can contact me at <a href="lukasz@niemier.pl">lukasz@niemier.pl</a></p>
    </div>
    {%- endif -%}
    {%- if page.extra.thanks -%}
    <hr />
    <p>
      <b>Special thanks to</b>:
      <ul>
        {%- for person in page.extra.thanks -%}
        <li class="h-card">{{ posts::thanks(who=person) }}</li>
        {%- endfor -%}
      </ul>
    </p>
    {%- endif -%}
    {%- if not page.extra.no_comments -%}
    <hr />
    <div>
      <p>You can provide feedback via mailing list
        <a href="mailto:~hauleth/blog@lists.sr.ht?subject=[Comment] {{
          page.title }}">~hauleth/blog@lists.sr.ht</a>
          (<a href="https://lists.sr.ht/~hauleth/blog">archive</a>).</p>
    </div>

    <div class="webmentions">
      {%- set webmentions = load_data(url="https://webmention.io/api/mentions.jf2?target=" ~ page.permalink, format="json") -%}
      {%- if webmentions.children | length > 0 -%}
        <p>Webmentions:</p>
        <ul>
          {%- for mention in webmentions.children -%}
          <li>
            {%- if mention.name -%}
              <a href="{{ mention.url }}">{{ mention.name }}</a>
              {%- else -%}
              <a href="{{ mention.url }}" class="url-only">{{ mention.url }}</a>
            {%- endif -%}
            {% if mention.author.name != "" %}
              by&nbsp;<a href="{{ mention.author.url }}">{{ mention.author.name | truncate(length=15) }}</a>
            {%- endif -%}
          </li>
          {%- endfor -%}
        </ul>
      {%- else -%}
        No webmentions yet, you can be first.
      {%- endif -%}
    </div>
    {%- endif -%}
  </article>
{%- endblock main -%}
